In [1]:
!ls

02_Will.ipynb              README.md                  data                       turnstiles.py
Exploratory Analysis.ipynb all_turnstiles.py          mta_challenge_3.ipynb      turnstiles.py.orig

In [1]:
from all_turnstiles import generate_df

In [2]:
df = generate_df()

/Users/Will/anaconda/envs/py27/lib/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)
/Users/Will/anaconda/envs/py27/lib/python2.7/site-packages/pandas/core/generic.py:2177: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

     ca  unit       scp        station linename division        date  \
0  A002  R051  02-00-00  LEXINGTON AVE   456NQR      BMT  12/27/2014
1  A002  R051  02-00-00  LEXINGTON AVE   456NQR      BMT  12/27/2014
2  A002  R051  02-00-00  LEXINGTON AVE   456NQR      BMT  12/27/2014
3  A002  R051  02-00-00  LEXINGTON AVE   456NQR      BMT  12/27/2014
4  A002  R051  02-00-00  LEXINGTON AVE   456NQR      BMT  12/27/2014

       time     desc  entries    exits
0  07:00:00  REGULAR  4936852  1672762
1  11:00:00  REGULAR  4936909  1672839
2  15:00:00  REGULAR  4937131  1672892
3  19:00:00  REGULAR  4937588  1672949
4  23:00:00  REGULAR  4937823  1672997

In [3]:
df

,station,datetime,date,time,entries,exits
1,"(LEXINGTON AVE, 456NQR)",2014-12-27 11:00:00,12/27/2014,11:00:00,57,77
2,"(LEXINGTON AVE, 456NQR)",2014-12-27 15:00:00,12/27/2014,15:00:00,222,53
3,"(LEXINGTON AVE, 456NQR)",2014-12-27 19:00:00,12/27/2014,19:00:00,457,57
4,"(LEXINGTON AVE, 456NQR)",2014-12-27 23:00:00,12/27/2014,23:00:00,235,48
5,"(LEXINGTON AVE, 456NQR)",2014-12-28 03:00:00,12/28/2014,03:00:00,88,13
6,"(LEXINGTON AVE, 456NQR)",2014-12-28 07:00:00,12/28/2014,07:00:00,9,8
7,"(LEXINGTON AVE, 456NQR)",2014-12-28 11:00:00,12/28/2014,11:00:00,40,50
8,"(LEXINGTON AVE, 456NQR)",2014-12-28 15:00:00,12/28/2014,15:00:00,141,59
9,"(LEXINGTON AVE, 456NQR)",2014-12-28 19:00:00,12/28/2014,19:00:00,264,69
10,"(LEXINGTON AVE, 456NQR)",2014-12-28 23:00:00,12/28/2014,23:00:00,179,27
11,"(LEXINGTON AVE, 456NQR)",2014-12-29 03:00:00,12/29/2014,03:00:00,22,10
12,"(LEXINGTON AVE, 456NQR)",2014-12-29 07:00:00,12/29/2014,07:00:00,8,29
13,"(LEXINGTON AVE, 456NQR)",2014-12-29 11:00:00,12/29/2014,11:00:00,127,279
14,"(LEXINGTON AVE, 456NQR)",2014-12-29 15:00:00,12/29/2014,15:00:00,283,89
15,"(LEXINGTON AVE, 456NQR)",2014-12-29 19:00:00,12/29/2014,19:00:00,827,107
16,"(LEXINGTON AVE, 456NQR)",2014-12-29 23:00:00,12/29/2014,23:00:00,360,32
17,"(LEXINGTON AVE, 456NQR)",2014-12-30 03:00:00,12/30/2014,03:00:00,47,7
18,"(LEXINGTON AVE, 456NQR)",2014-12-30 07:00:00,12/30/2014,07:00:00,14,34
19,"(LEXINGTON AVE, 456NQR)",2014-12-30 11:00:00,12/30/2014,11:00:00,106,275
20,"(LEXINGTON AVE, 456NQR)",2014-12-30 15:00:00,12/30/2014,15:00:00,282,70
21,"(LEXINGTON AVE, 456NQR)",2014-12-30 19:00:00,12/30/2014,19:00:00,843,98
22,"(LEXINGTON AVE, 456NQR)",2014-12-30 23:00:00,12/30/2014,23:00:00,372,23
23,"(LEXINGTON AVE, 456NQR)",2014-12-31 03:00:00,12/31/2014,03:00:00,57,14
24,"(LEXINGTON AVE, 456NQR)",2014-12-31 07:00:00,12/31/2014,07:00:00,18,32
25,"(LEXINGTON AVE, 456NQR)",2014-12-31 10:21:51,12/31/2014,10:21:51,77,196
26,"(LEXINGTON AVE, 456NQR)",2014-12-31 11:00:00,12/31/2014,11:00:00,25,29
27,"(LEXINGTON AVE, 456NQR)",2014-12-31 15:00:00,12/31/2014,15:00:00,427,89
28,"(LEXINGTON AVE, 456NQR)",2014-12-31 19:00:00,12/31/2014,19:00:00,706,73
29,"(LEXINGTON AVE, 456NQR)",2014-12-31 23:00:00,12/31/2014,23:00:00,175,27
30,"(LEXINGTON AVE, 456NQR)",2015-01-01 03:00:00,01/01/2015,03:00:00,71,13
...,...,...,...,...,...,...
7316310,"(RIT-ROOSEVELT, R)",2015-09-14 21:00:00,09/14/2015,21:00:00,0,0
7316311,"(RIT-ROOSEVELT, R)",2015-09-15 01:00:00,09/15/2015,01:00:00,0,0
7316312,"(RIT-ROOSEVELT, R)",2015-09-15 05:00:00,09/15/2015,05:00:00,0,0
7316313,"(RIT-ROOSEVELT, R)",2015-09-15 09:00:00,09/15/2015,09:00:00,0,0
7316314,"(RIT-ROOSEVELT, R)",2015-09-15 13:00:00,09/15/2015,13:00:00,1,0
7316315,"(RIT-ROOSEVELT, R)",2015-09-15 17:00:00,09/15/2015,17:00:00,0,0
7316316,"(RIT-ROOSEVELT, R)",2015-09-15 21:00:00,09/15/2015,21:00:00,0,0
7316317,"(RIT-ROOSEVELT, R)",2015-09-16 01:00:00,09/16/2015,01:00:00,0,0
7316318,"(RIT-ROOSEVELT, R)",2015-09-16 05:00:00,09/16/2015,05:00:00,0,0
7316319,"(RIT-ROOSEVELT, R)",2015-09-16 09:00:00,09/16/2015,09:00:00,0,0
7316320,"(RIT-ROOSEVELT, R)",2015-09-16 13:00:00,09/16/2015,13:00:00,1,0
7316321,"(RIT-ROOSEVELT, R)",2015-09-16 17:00:00,09/16/2015,17:00:00,0,0
7316322,"(RIT-ROOSEVELT, R)",2015-09-16 21:00:00,09/16/2015,21:00:00,0,0
7316323,"(RIT-ROOSEVELT, R)",2015-09-17 01:00:00,09/17/2015,01:00:00,0,0
7316324,"(RIT-ROOSEVELT, R)",2015-09-17 05:00:00,09/17/2015,05:00:00,0,0
7316325,"(RIT-ROOSEVELT, R)",2015-09-17 09:00:00,09/17/2015,09:00:00,1,0
7316326,"(RIT-ROOSEVELT, R)",2015-09-17 13:00:00,09/17/2015,13:00:00,0,0
7316327,"(RIT-ROOSEVELT, R)",2015-09-17 17:00:00,09/17/2015,17:00:00,1,0
7316328,"(RIT-ROOSEVELT, R)",2015-09-17 21:00:00,09/17/2015,21:00:00,0,0
7316329,"(RIT-ROOSEVELT, R)",2015-09-18 01:00:00,09/18/2015,01:00:00,0,0
7316330,"(RIT-ROOSEVELT, R)",2015-09-18 05:00:00,09/18/2015,05:00:00,0,0
7316331,"(RIT-ROOSEVELT, R)",2015-09-18 09:00:00,09/18/2015,09:00:00,0,0
7316332,"(RIT-ROOSEVELT, R)",2015-09-18 13:00:00,09/18/2015,13:00:00,0,0
7316333,"(RIT-ROOSEVELT, R)",2015-09-18 17:00:00,09/18/2015,17:00:00,0,0
7316334,"(RIT-ROOSEVELT, R)",2015-09-18 21:00:00,09/18/2015,21:00:00,0,0
7316335,"(RIT-ROOSEVELT, R)",2015-09-12 01:00:00,09/12/2015,01:00:00,0,0
7316336,"(RIT-ROOSEVELT, R)",2015-09-12 05:00:00,09/12/2015,05:00:00,0,0
7316337,"(RIT-ROOSEVELT, R)",2015-09-12 09:00:00,09/12/2015,09:00:00,0,0
7316338,"(RIT-ROOSEVELT, R)",2015-09-12 13:00:00,09/12/2015,13:00:00,0,0
7316339,"(RIT-ROOSEVELT, R)",2015-09-12 17:00:00,09/12/2015,17:00:00,0,0