In [1]:
import pandas as pd
from collections import defaultdict
from datetime import datetime

cols = ['ca', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time', 'desc', 'entries', 'exits']

traffic = pd.read_csv('turnstile_150110.txt', header = False, names = cols)

traffic.head(100)
## group by first four columns, then add new column to 
## original dataframe that counts entries at this scp
## since the last measurement
traffic2 = traffic.groupby(['ca', 'unit', 'scp', 'station'])
traffic['EntryDeltas'] = traffic2.entries.diff()
## we are dropping the nan's that result from diff()
traffic = traffic.dropna(subset = ['EntryDeltas'])
traffic.head(90)

,ca,unit,scp,station,linename,division,date,time,desc,entries,exits,EntryDeltas
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/03/2015,07:00:00,REGULAR,4945478,1675333,4
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/03/2015,11:00:00,REGULAR,4945515,1675364,37
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/03/2015,15:00:00,REGULAR,4945679,1675408,164
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/03/2015,19:00:00,REGULAR,4946006,1675469,327
5,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/03/2015,23:00:00,REGULAR,4946200,1675511,194
6,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/04/2015,03:00:00,REGULAR,4946237,1675520,37
7,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/04/2015,07:00:00,REGULAR,4946240,1675524,3
8,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/04/2015,11:00:00,REGULAR,4946280,1675542,40
9,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/04/2015,15:00:00,REGULAR,4946348,1675561,68
10,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/04/2015,19:00:00,REGULAR,4946435,1675595,87
11,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/04/2015,23:00:00,REGULAR,4946488,1675614,53
12,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/05/2015,03:00:00,REGULAR,4946497,1675619,9
13,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/05/2015,07:00:00,REGULAR,4946518,1675650,21
14,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/05/2015,11:00:00,REGULAR,4946723,1675948,205
15,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/05/2015,15:00:00,REGULAR,4946977,1676022,254
16,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/05/2015,19:00:00,REGULAR,4948007,1676122,1030
17,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/05/2015,23:00:00,REGULAR,4948333,1676156,326
18,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/06/2015,03:00:00,REGULAR,4948380,1676157,47
19,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/06/2015,07:00:00,REGULAR,4948395,1676201,15
20,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/06/2015,11:00:00,REGULAR,4948549,1676559,154
21,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/06/2015,15:00:00,REGULAR,4948785,1676657,236
22,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/06/2015,19:00:00,REGULAR,4949740,1676767,955
23,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/06/2015,23:00:00,REGULAR,4950086,1676815,346
24,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/07/2015,03:00:00,REGULAR,4950113,1676820,27
25,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/07/2015,07:00:00,REGULAR,4950126,1676859,13
26,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/07/2015,11:00:00,REGULAR,4950272,1677204,146
27,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/07/2015,15:00:00,REGULAR,4950545,1677312,273
28,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/07/2015,19:00:00,REGULAR,4951504,1677425,959
29,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/07/2015,23:00:00,REGULAR,4951879,1677487,375
30,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/08/2015,03:00:00,REGULAR,4951912,1677489,33
...,...,...,...,...,...,...,...,...,...,...,...,...
62,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/06/2015,07:00:00,REGULAR,4597720,1002607,7
63,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/06/2015,11:00:00,REGULAR,4597897,1002773,177
64,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/06/2015,15:00:00,REGULAR,4598070,1002838,173
65,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/06/2015,19:00:00,REGULAR,4598920,1002922,850
66,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/06/2015,23:00:00,REGULAR,4599236,1002949,316
67,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/07/2015,03:00:00,REGULAR,4599265,1002951,29
68,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/07/2015,07:00:00,REGULAR,4599276,1002963,11
69,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/07/2015,11:00:00,REGULAR,4599453,1003126,177
70,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/07/2015,15:00:00,REGULAR,4599659,1003182,206
71,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/07/2015,19:00:00,REGULAR,4600504,1003242,845
72,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/07/2015,23:00:00,REGULAR,4600821,1003279,317
73,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/08/2015,03:00:00,REGULAR,4600841,1003282,20
74,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/08/2015,07:00:00,REGULAR,4600848,1003291,7
75,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/08/2015,07:37:01,REGULAR,4600859,1003307,11
76,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/08/2015,11:00:00,REGULAR,4600993,1003456,134
77,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/08/2015,15:00:00,REGULAR,4601176,1003514,183
78,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/08/2015,19:00:00,REGULAR,4601959,1003582,783
79,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/08/2015,23:00:00,REGULAR,4602244,1003610,285
80,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/09/2015,03:00:00,REGULAR,4602271,1003614,27
81,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/09/2015,07:00:00,REGULAR,4602282,1003634,11
82,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/09/2015,11:00:00,REGULAR,4602450,1003780,168
83,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/09/2015,15:00:00,REGULAR,4602686,1003857,236
84,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/09/2015,19:00:00,REGULAR,4603530,1003934,844
85,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/09/2015,23:00:00,REGULAR,4603817,1003963,287
87,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,01/03/2015,07:00:00,REGULAR,426683,1602617,2
88,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,01/03/2015,11:00:00,REGULAR,426696,1602728,13
89,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,01/03/2015,15:00:00,REGULAR,426769,1602919,73
90,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,01/03/2015,19:00:00,REGULAR,426832,1603130,63
91,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,01/03/2015,23:00:00,REGULAR,426889,1603245,57
92,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,01/04/2015,03:00:00,REGULAR,426905,1603295,16

In [4]:
dailies = traffic.groupby('date')['EntryDeltas'].sum()
print dailies

date
01/03/2015       2687766
01/04/2015       2463766
01/05/2015       4562413
01/06/2015       4740365
01/07/2015    2491417918
01/08/2015       3674758
01/09/2015     121616317
Name: EntryDeltas, dtype: float64

In [7]:
seventh = traffic[traffic.date == "01/07/2015"]

In [8]:
seventh.head()

,ca,unit,scp,station,linename,division,date,time,desc,entries,exits,EntryDeltas
24,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/07/2015,03:00:00,REGULAR,4950113,1676820,27
25,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/07/2015,07:00:00,REGULAR,4950126,1676859,13
26,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/07/2015,11:00:00,REGULAR,4950272,1677204,146
27,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/07/2015,15:00:00,REGULAR,4950545,1677312,273
28,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,01/07/2015,19:00:00,REGULAR,4951504,1677425,959

In [11]:
seventh[seventh.EntryDeltas == seventh.EntryDeltas.max()]

,ca,unit,scp,station,linename,division,date,time,desc,entries,exits,EntryDeltas
162493,R304,R206,00-00-00,125 ST,23,IRT,01/07/2015,12:00:00,REGULAR,1694479913,788539671,1684308558

In [14]:
seventh.ix[162492:162500]

,ca,unit,scp,station,linename,division,date,time,desc,entries,exits,EntryDeltas
162492,R304,R206,00-00-00,125 ST,23,IRT,01/07/2015,08:00:00,REGULAR,10171355,3140795,168
162493,R304,R206,00-00-00,125 ST,23,IRT,01/07/2015,12:00:00,REGULAR,1694479913,788539671,1684308558
162494,R304,R206,00-00-00,125 ST,23,IRT,01/07/2015,16:00:00,REGULAR,1694479451,788539828,-462
162495,R304,R206,00-00-00,125 ST,23,IRT,01/07/2015,20:00:00,REGULAR,1694478881,788539944,-570

In [19]:
traffic.EntryDeltas.quantile(.99)

1261.0

In [20]:
len(traffic)

190945

In [21]:
traffic = traffic[traffic.EntryDeltas > 0]

In [22]:
len(traffic)

163248

In [23]:
traffic = traffic[traffic.EntryDeltas < 5000]

In [24]:
len(traffic)

163242

In [25]:
dailies = traffic.groupby('date')['EntryDeltas'].sum()
print dailies

date
01/03/2015    2699566
01/04/2015    2475442
01/05/2015    5634055
01/06/2015    5609859
01/07/2015    5677471
01/08/2015    5531733
01/09/2015    5640537
Name: EntryDeltas, dtype: float64