In [16]:
traffic = traffic.loc[traffic.entries != 'ENTRIES']
traffic.entries = traffic.entries.astype(int)
traffic.exits = traffic.exits.astype(int)

In [3]:
import pandas as pd
cols = ['ca', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time', 'desc', 'entries', 'exits']

traffic = pd.read_csv('data/all.csv', header = False, names = cols)

/Users/Will/anaconda/envs/py34/lib/python3.4/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [6]:
traffic.entries

AttributeError: 'Series' object has no attribute 'contains'

In [8]:
traffic.loc[traffic.entries == 'ENTRIES']

,ca,unit,scp,station,linename,division,date,time,desc,entries,exits
194113,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
389616,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
590852,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
783728,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
976291,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
1169134,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
1360061,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
1553047,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
1745524,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
1937112,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
2126851,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
2318299,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
2510490,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
2701876,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
2894249,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
3085912,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
3276915,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
3469304,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
3661243,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
3854689,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
4046178,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
4237770,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
4429503,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
4620528,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
4813786,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
5006354,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
5198150,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
5389184,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
5580601,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
5773493,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
5966199,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
6157429,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
6350699,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
6543372,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
6734438,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
6925891,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...
7119472,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS ...

In [10]:
'ENTRIES' in traffic.entries.values

True

In [19]:
import pandas as pd
from collections import defaultdict
from datetime import datetime

cols = ['ca', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time', 'desc', 'entries', 'exits']

traffic = pd.read_csv('data/all.csv', header = False, names = cols)

## group by first four columns, then add new column to 
## original dataframe that counts entries at this scp
## since the last measurement

traffic = traffic.loc[traffic.entries != 'ENTRIES']
traffic.entries = traffic.entries.astype(int)
traffic.exits = traffic.exits.astype(int)

traffic2 = traffic.groupby(['ca', 'unit', 'scp', 'station'])


traffic['EntryDeltas'] = traffic2.entries.diff()
## we are dropping the nan's that result from diff()
traffic = traffic.dropna(subset = ['EntryDeltas'])
traffic.head(90)

/Users/Will/anaconda/envs/py34/lib/python3.4/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

,ca,unit,scp,station,linename,division,date,time,desc,entries,exits,EntryDeltas
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/27/2014,07:00:00,REGULAR,4936852,1672762,12
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/27/2014,11:00:00,REGULAR,4936909,1672839,57
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/27/2014,15:00:00,REGULAR,4937131,1672892,222
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/27/2014,19:00:00,REGULAR,4937588,1672949,457
5,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/27/2014,23:00:00,REGULAR,4937823,1672997,235
6,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/28/2014,03:00:00,REGULAR,4937911,1673010,88
7,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/28/2014,07:00:00,REGULAR,4937920,1673018,9
8,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/28/2014,11:00:00,REGULAR,4937960,1673068,40
9,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/28/2014,15:00:00,REGULAR,4938101,1673127,141
10,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/28/2014,19:00:00,REGULAR,4938365,1673196,264
11,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/28/2014,23:00:00,REGULAR,4938544,1673223,179
12,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/29/2014,03:00:00,REGULAR,4938566,1673233,22
13,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/29/2014,07:00:00,REGULAR,4938574,1673262,8
14,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/29/2014,11:00:00,REGULAR,4938701,1673541,127
15,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/29/2014,15:00:00,REGULAR,4938984,1673630,283
16,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/29/2014,19:00:00,REGULAR,4939811,1673737,827
17,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/29/2014,23:00:00,REGULAR,4940171,1673769,360
18,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/30/2014,03:00:00,REGULAR,4940218,1673776,47
19,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/30/2014,07:00:00,REGULAR,4940232,1673810,14
20,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/30/2014,11:00:00,REGULAR,4940338,1674085,106
21,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/30/2014,15:00:00,REGULAR,4940620,1674155,282
22,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/30/2014,19:00:00,REGULAR,4941463,1674253,843
23,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/30/2014,23:00:00,REGULAR,4941835,1674276,372
24,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/31/2014,03:00:00,REGULAR,4941892,1674290,57
25,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/31/2014,07:00:00,REGULAR,4941910,1674322,18
26,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/31/2014,10:21:51,REGULAR,4941987,1674518,77
27,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/31/2014,11:00:00,REGULAR,4942012,1674547,25
28,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/31/2014,15:00:00,REGULAR,4942439,1674636,427
29,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/31/2014,19:00:00,REGULAR,4943145,1674709,706
30,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/31/2014,23:00:00,REGULAR,4943320,1674736,175
...,...,...,...,...,...,...,...,...,...,...,...,...
62,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,12/30/2014,07:00:00,REGULAR,4590597,1001124,8
63,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,12/30/2014,11:00:00,REGULAR,4590704,1001240,107
64,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,12/30/2014,15:00:00,REGULAR,4590928,1001305,224
65,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,12/30/2014,19:00:00,REGULAR,4591678,1001380,750
66,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,12/30/2014,23:00:00,REGULAR,4591983,1001398,305
67,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,12/31/2014,03:00:00,REGULAR,4592029,1001406,46
68,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,12/31/2014,07:00:00,REGULAR,4592035,1001417,6
69,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,12/31/2014,10:21:51,REGULAR,4592116,1001500,81
70,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,12/31/2014,11:00:00,REGULAR,4592132,1001506,16
71,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,12/31/2014,15:00:00,REGULAR,4592505,1001583,373
72,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,12/31/2014,19:00:00,REGULAR,4593083,1001645,578
73,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,12/31/2014,23:00:00,REGULAR,4593230,1001662,147
74,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/01/2015,03:00:00,REGULAR,4593284,1001677,54
75,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/01/2015,07:00:00,REGULAR,4593294,1001685,10
76,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/01/2015,11:00:00,REGULAR,4593324,1001701,30
77,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/01/2015,15:00:00,REGULAR,4593458,1001733,134
78,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/01/2015,19:00:00,REGULAR,4593697,1001792,239
79,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/01/2015,23:00:00,REGULAR,4593838,1001811,141
80,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/02/2015,03:00:00,REGULAR,4593865,1001814,27
81,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/02/2015,07:00:00,REGULAR,4593869,1001818,4
82,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/02/2015,11:00:00,REGULAR,4593971,1001890,102
83,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/02/2015,15:00:00,REGULAR,4594276,1001947,305
84,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/02/2015,19:00:00,REGULAR,4594911,1002019,635
85,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,01/02/2015,23:00:00,REGULAR,4595152,1002035,241
87,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,12/27/2014,07:00:00,REGULAR,423300,1590920,1
88,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,12/27/2014,11:00:00,REGULAR,423335,1591175,35
89,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,12/27/2014,15:00:00,REGULAR,423388,1591582,53
90,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,12/27/2014,19:00:00,REGULAR,423561,1592047,173
91,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,12/27/2014,23:00:00,REGULAR,423676,1592300,115
92,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,12/28/2014,03:00:00,REGULAR,423711,1592367,35

In [39]:
small_traffic = traffic.sample(n=1e5)

In [36]:
traffic['dt'] = pd.to_datetime(traffic.date + ' ' + traffic.time, format='%m/%d/%Y %H:%M:%S')

In [44]:
traffic.date = pd.to_datetime(traffic.date)

## Removing Erroneous Data

In [23]:
traffic = traffic[traffic.EntryDeltas < 5000]
traffic = traffic[traffic.EntryDeltas > 0]

In [49]:
station_dailies = traffic.groupby(['date','station'])['EntryDeltas'].sum()
station_dailies.head()

date        station
2014-12-27  1 AVE            12010
            103 ST           17704
            103 ST-CORONA    14592
            104 ST            1278
            110 ST            7235
Name: EntryDeltas, dtype: float64

In [52]:
station_dailies['2015-6-27'].nlargest(25)

station
34 ST-PENN STA     100936
14 ST-UNION SQ      82132
42 ST-TIMES SQ      78647
34 ST-HERALD SQ     73966
42 ST-PA BUS TE     73107
86 ST               72558
42 ST-GRD CNTRL     69827
CANAL ST            61566
125 ST              53992
96 ST               47405
59 ST-COLUMBUS      47095
59 ST               41216
MAIN ST             40956
W 4 ST-WASH SQ      39832
23 ST               39153
50 ST               38722
ROOSEVELT AVE       35987
72 ST               34701
8 AVE               34648
14 ST               33976
116 ST              33648
FULTON ST           33645
CHAMBERS ST         29721
BEDFORD AVE         29541
145 ST              28502
Name: EntryDeltas, dtype: float64